<h1>Listar Usuarios</h1>


<% if can? :destroy, @user_se %>
    <%= link_to "Edit", destroy_user_se_path(@article) %> |
<% end %>






<ul class='thumbnails' id='user_se'>
  <% @users = UserSe.all %>
  <% @users.each do |user| %>
    <div id='user_se'>
       <li class='span3'> 
          <div class='thumbnail'>
        
            <%= user.nombre %><br/>
            <%= user.email %><br/>
            <%= link_to "Cancelar mi cuenta", registration_path(user), data: { confirm: "¿Seguro que deseas eliminar esta cuenta?" }, method: :delete %>
           
             </div>
          </div>
        </li>
    </div>        
  <%end%>
</ul>
<br>
